---
export const prerender = false; // Render on Server

// LAYOUT //
// TYPES //
import type { PressReleaseItemData } from "@/types/media/press-release";

// COMPONENTS //
import FilterBar from "@/components/FilterBar.astro";
import SectionHeaderMain from "@/components/SectionHeaderMain.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import ImageCard from "@/components/ImageCard.astro";
import Lightbox from "@/components/Lightbox.astro";
import EmptyState from "@/components/EmptyState.astro";

// CONSTANTS //
import { URLS } from "@/infrastructure/constants/urls";

// OTHERS //
import Layout from "@/layouts/Layout.astro";

// DATA //
import {
  newsBulletin,
  newsBulletinBreadcrumbItems,
  newsBulletinSectionHeader,
} from "@/data/media/news-bulletin";

// Get the Year from the Search Params
const year: number =
  Number(Astro.url.searchParams.get("year")) || newsBulletin.years[0];

// If streamId is missing or invalid — go back or redirect
if (!year) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: Astro.request.headers.get("referer") || URLS.HOME,
    },
  });
}

const releases: PressReleaseItemData[] = newsBulletin.releases[year] ?? [];
---

<Layout>
  <section class="bg-n-50 relative w-full overflow-hidden">
    <div
      class="container m-auto flex flex-col gap-10 px-5 pt-32 pb-14 md:gap-14 lg:gap-16 lg:pt-40"
    >
      <!-- Breadcrumbs -->
      <Breadcrumbs items={newsBulletinBreadcrumbItems} />

      <!-- Body of the News Bulletin -->
      <div class="flex flex-col gap-8 md:gap-12 lg:gap-14">
        <!-- Section Header -->
        <SectionHeaderMain
          title={newsBulletinSectionHeader.title}
          subtitle={newsBulletinSectionHeader.subtitle}
        />

        <!-- News Bulletin -->
        <div class="fade-in flex flex-col gap-7 md:gap-8 lg:gap-11">
          <!-- Years Filters -->
          <div class="fade-in">
            <FilterBar showSearch={false} years={newsBulletin.years} />
          </div>

          <!-- News Bulletin -->
          {
            releases && releases.length > 0 ? (
              <div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4">
                {releases.map(
                  (releaseItem: PressReleaseItemData, releaseItemIndex) => (
                    <div
                      class="card-anim"
                      style={`--delay: ${releaseItemIndex * 0.2}s`}
                    >
                      <ImageCard
                        image={releaseItem.image}
                        caption={releaseItem.name}
                        index={releaseItem.id}
                        classes="min-h-[350px] max-h-[500px]"
                      />
                    </div>
                  ),
                )}
              </div>
            ) : (
              <EmptyState />
            )
          }
        </div>
        <Lightbox />
      </div>
    </div>
  </section>
</Layout>
