---
import SectionHeaderMain from "@/components/ui/SectionHeaderMain.astro";
import CampusCard from "@/components/ui/CampusCard.astro";

const campusDetails = {
  campus: [
    {
      title: "SAI Angan",
      img: "/images/sai-campus.png",
      subTitle: "Preschool & Early Childhood",
      gradeRange: "Playgroup – Grade 2 ",
      href: "https://saiangan.co.in/",
    },
    {
      title: "SAI Residential",
      img: "/images/sai-resident.png",
      subTitle: "Boarding & Senior Years",
      gradeRange: "Grades 5 – 12 ",
      href: "https://sirs.edu.in/",
    },
  ],
};
---

<section class="bg-n-100" id="other-campus">
  <div
    class="container mx-auto flex flex-col gap-11 px-6 py-14 md:gap-12 lg:gap-16 lg:px-8 lg:py-16 2xl:px-0"
  >
    <!-- Section Header -->
    <SectionHeaderMain
      eyebrowText="Our Campuses"
      title="Learning Beyond One Campus"
    />

    <!-- Campus card wrapper -->
    <div
      class="m-auto grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-5 lg:gap-12"
    >
      {
        campusDetails.campus.map((card) => (
          <CampusCard
            title={card.title}
            href={`window.open(
 "${card.href}","_blank")`}
            img={card.img}
            subTitle={card.subTitle}
            gradeRange={card.gradeRange}
          />
        ))
      }
    </div>
  </div>
</section>
