---
// COMPONENTS //
import Breadcrumbs from "@/components/ui/Breadcrumbs.astro";

// OTHERS //
import Layout from "@/layouts/Layout.astro";

// META //
import careerResultsMeta from "@/data/meta/results/career-results/career-results.json";

// COMPONENTS //
import CourseCard from "@/components/ui/CourseCard.astro";
import SectionHeaderMain from "@/components/ui/SectionHeaderMain.astro";

// DATA //
import {
  careerResults,
  careerResultsSectionHeader,
} from "@/data/results/career-results";
import { URLS } from "@/infrastructure/constants/urls";
import { careerResultsBreadcrumbs } from "@/data/results/career-results";
---

<Layout meta={careerResultsMeta}>
  <section class="bg-n-50 relative w-full overflow-hidden">
    <div
      class="container m-auto flex flex-col gap-9 px-5 pt-32 pb-14 md:gap-14 lg:gap-16 lg:pt-40"
    >
      <!-- Breadcrumbs Section -->
      <Breadcrumbs items={careerResultsBreadcrumbs} />

      <div class="flex flex-col gap-8 md:gap-12 lg:gap-14">
        <!-- Section Header -->
        <SectionHeaderMain
          title={careerResultsSectionHeader.title}
          subtitle={careerResultsSectionHeader.subtitle}
        />

        <!-- Courses -->
        <div
          class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-6 lg:grid-cols-3 2xl:grid-cols-4"
        >
          {
            careerResults.map((examItem) => (
              <CourseCard
                title={`${examItem.name} Results`}
                image={`/results/career/${examItem.name.toLowerCase().replace(" ", "-")}.jpg`}
                onCtaClick={`window.location.href = "${URLS.RESULTS.CAREER_RESULTS.EXAM(examItem.name.toLowerCase().replace(" ", "-"))}?year=${examItem.years[0]}"`}
                ctaText="Show Results"
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
