---
export const prerender = false; // Render on Server

// LAYOUT //
import Layout from "@/layouts/Layout.astro";

// META //
import globalSioneersMeta from "@/data/meta/student-leaders/global-sioneers/global-sioneers.json";

// COMPONENTS //
import SectionHeaderMain from "@/components/ui/SectionHeaderMain.astro";
import Breadcrumbs from "@/components/ui/Breadcrumbs.astro";
import ResultsCard from "@/components/ui/ResultsCard.astro";
import FilterBar from "@/components/ui/FilterBar.astro";
import EmptyState from "@/components/ui/EmptyState.astro";

// API SERVICES //
import { fetchSioneersRequest } from "@/services/api/sioneers.api.service";

// UTILS //
import { generateImagePath } from "@/utils/image.utils";

// DATA //
import {
  globalSioneers,
  globalSioneersBreadcrumbItems,
  globalSioneersSectionHeader,
} from "@/data/student-leaders/global-sioneers";

// Get the Year from the URL - or - the latest year in Data
const year: number =
  Number(Astro.url.searchParams.get("year")) || globalSioneers?.years[0];

// Get the Students for the Year Selected
const students = await fetchSioneersRequest(year.toString());
---

<Layout meta={globalSioneersMeta}>
  <section class="bg-n-50 relative w-full overflow-hidden">
    <div
      class="container m-auto flex flex-col gap-10 px-5 pt-32 pb-14 md:gap-14 lg:gap-16 lg:pt-40"
    >
      <!-- Breadcrumbs -->
      <Breadcrumbs items={globalSioneersBreadcrumbItems} />

      <!-- Body of the Results -->
      <div class="flex flex-col gap-8 md:gap-12 lg:gap-14">
        <!-- Section Header -->
        <SectionHeaderMain
          title={globalSioneersSectionHeader.title}
          subtitle={globalSioneersSectionHeader.subtitle}
        />

        <!-- Filter & Students -->
        <div class="flex flex-col gap-7 md:gap-8 lg:gap-11">
          <!-- Years Filters -->
          <FilterBar showSearch={false} years={globalSioneers.years} />

          <!-- Global Sioneers Images -->
          <div
            class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4"
          >
            {
              students && students.length > 0 ? (
                students.map((studentsItem) => (
                  <ResultsCard
                    /* Dynamic Image using 'sis_globalambassador' case in Utils */
                    image={generateImagePath(
                      "",
                      studentsItem.profilePicture || "",
                      "sis_globalambassador"
                    )}
                    /* Mapping className to StudentName as per your existing pattern */
                    studentName={studentsItem.className}
                    grade={studentsItem.universityName}
                  />
                ))
              ) : (
                <div class="col-span-full">
                  <EmptyState />
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
