---
export const prerender = false; // Render on Server

// TYPES //
import type { NewsData, NewsItemData } from "@/types/media/news";

// ENUMS //
import { IMAGE_TYPES } from "@/enums/image.enum";

// COMPONENTS //
import FilterBar from "@/components/ui/FilterBar.astro";
import SectionHeaderMain from "@/components/ui/SectionHeaderMain.astro";
import Breadcrumbs from "@/components/ui/Breadcrumbs.astro";
import Lightbox from "@/components/ui/Lightbox.astro";
import EmptyState from "@/components/ui/EmptyState.astro";
import Pagination from "@/components/ui/Pagination.astro";
import ArticleCard from "@/components/ui/ArticleCard.astro";

// API SERVICES //
import { fetchBlogsByYearRequest } from "@/services/api/news.api.service";

// CONSTANTS //
import { URLS } from "@/infrastructure/constants/urls";

// UTILS //
import { generateImagePath } from "@/utils/image.utils";

// OTHERS //
import Layout from "@/layouts/Layout.astro";

// DATA //
import newsMeta from "@/data/meta/media/news/news.json";
import {
  newsDetails,
  newsBreadcrumbItems,
  newsSectionHeader,
} from "@/data/media/news";

// META //

// Get the Year from the Search Params
const year: number =
  Number(Astro.url.searchParams.get("year")) || newsDetails.years[0];

// Get the Page from the Search Params
const page = Number(Astro.url.searchParams.get("page")) || 1;
const limit = 12;

const newsResponse = await fetchBlogsByYearRequest(year, page, limit);
const news = newsResponse.blogs;
const totalCount = newsResponse.total_count;

// If streamId is missing or invalid — go back or redirect
if (!year) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: Astro.request.headers.get("referer") || URLS.HOME,
    },
  });
}

// Get this from API
const totalPages = Math.ceil(totalCount / limit);
const shouldShowPagination = totalPages > 1;
---

<Layout meta={newsMeta}>
  <section class="bg-n-50 relative w-full overflow-hidden">
    <div
      class="container m-auto flex flex-col gap-10 px-5 pt-32 pb-14 md:gap-14 lg:gap-16 lg:pt-40"
    >
      <!-- Breadcrumbs -->
      <Breadcrumbs items={newsBreadcrumbItems} />

      <!-- Body of the News Bulletin -->
      <div class="flex flex-col gap-8 md:gap-12 lg:gap-14">
        <!-- Section Header -->
        <SectionHeaderMain
          title={newsSectionHeader.title}
          subtitle={newsSectionHeader.subtitle}
          eyebrowText={newsSectionHeader.eyebrowText}
        />

        <!-- News -->
        <div class="fade-in flex flex-col gap-7 md:gap-8 lg:gap-11">
          <!-- Years Filters -->
          <div class="fade-in">
            <FilterBar showSearch={false} years={newsDetails.years} />
          </div>

          <!-- News -->
          {
            news && news.length > 0 ? (
              <div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-6 lg:grid-cols-3">
                {news.map((newsItem, newsItemIndex) => (
                  <div
                    class="card-anim"
                    style={`--delay: ${newsItemIndex * 0.01}s`}
                  >
                    <ArticleCard
                      title={newsItem.title}
                      img={generateImagePath(
                        newsItem.thumbnail,
                        IMAGE_TYPES.BLOG,
                        newsItem.photo_path,
                      )}
                      topText={"SAI Admin"}
                      date={newsItem.created_on}
                      href={URLS.MEDIA.NEWS.ITEM(
                        newsItem.id.toString(),
                        newsItem.title.toLowerCase().replaceAll(" ", "-"),
                      )}
                      tags={[newsItem.category_name]}
                    />
                  </div>
                ))}
              </div>
            ) : (
              <EmptyState
                title="No News Found"
                description="We couldn't find any news for the selected year. Please check back later."
              />
            )
          }
        </div>
        <!-- Pagination -->
        {shouldShowPagination && <Pagination totalPages={totalPages} />}
        <Lightbox />
      </div>
    </div>
  </section>
</Layout>
