---
import Button from "./Button.astro";
import IconButton from "./IconButton.astro";
interface Props {
  img: string;
  topText: string;
  title: string;
  tags?: string[];
  date: string;
  href?: string;
}
const {
  img,
  topText = "",
  title = "",
  tags = [],
  href = "#",
  date = "",
} = Astro.props as Props;
---

<div
  class="group bg-n-50 border-n-200 w-full overflow-hidden rounded-2xl border-2"
>
  <!-- Campus image -->
  <div class="relative">
    <img
      src={img}
      alt=""
      class="h-[207px] w-full object-cover lg:h-[276px]"
      loading="lazy"
      decoding="async"
    />

    <!-- Featured text -->
    <div
      class="font-secondary text-n-600 bg-n-50 absolute top-6 right-6 rounded-lg px-2.5 py-2 text-xs font-medium shadow lg:text-base"
    >
      Featured
    </div>
  </div>

  <div
    class="relative flex flex-col gap-4 px-4 pt-4 pb-8 md:px-5 md:pt-5 md:pb-10 lg:gap-6 lg:px-6 lg:pt-6 lg:pb-11"
  >
    <!-- Campus title -->
    <div class="flex flex-col gap-3 lg:gap-5">
      <div class="flex items-center gap-3">
        <span class="text-orange-500">
          <svg
            class="size-4 lg:size-5"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.8323 2.10073C5.28166 2.14008 4.82962 2.25659 4.40798 2.4678C3.19077 3.07756 2.60733 4.35675 2.76973 6.05955C2.85379 6.94092 3.20882 7.68243 3.79002 8.19056C4.42784 8.74817 5.25942 9.00424 6.33598 8.97452C7.14122 8.95228 7.74077 8.78144 8.28379 8.41944C8.8948 8.01214 9.30613 7.41544 9.50459 6.64851C9.64245 6.1158 9.67074 5.34934 9.57443 4.75555C9.38877 3.6106 8.73336 2.7592 7.72798 2.35689C7.19488 2.14356 6.51622 2.05187 5.8323 2.10073ZM10.5269 3.13856C10.3583 3.16971 10.1951 3.29692 10.1153 3.45944C10.0262 3.64072 10.0541 3.88969 10.1815 4.05064C10.2447 4.13054 10.3688 4.22136 10.4469 4.24478C10.4783 4.25422 10.6264 4.26812 10.776 4.27568C11.1141 4.29276 11.337 4.32753 11.5452 4.39564C12.2062 4.61188 12.553 5.04065 12.6906 5.81155C12.7246 6.00251 12.7195 6.64108 12.6822 6.85155C12.6093 7.26289 12.4628 7.57312 12.2262 7.81702C11.9494 8.10228 11.5779 8.26392 11.0633 8.32286C10.7464 8.35916 10.2793 8.33542 9.99998 8.26883C9.88087 8.24041 9.71458 8.23633 9.63029 8.25976C9.59854 8.26857 9.52866 8.30417 9.47498 8.33888C9.25114 8.48355 9.15826 8.78366 9.26346 9.02235C9.35552 9.23121 9.47735 9.32361 9.74279 9.38585C10.0626 9.46084 10.2773 9.48235 10.704 9.48211C11.2365 9.4818 11.5513 9.43548 11.96 9.29732C12.9126 8.97523 13.5724 8.21427 13.7841 7.19352C13.8488 6.88144 13.864 6.70731 13.8631 6.29155C13.8621 5.85763 13.8407 5.65633 13.7598 5.31982C13.4704 4.11619 12.5691 3.33334 11.2789 3.16488C11.0528 3.13537 10.6252 3.1204 10.5269 3.13856ZM5.80798 3.25369C5.3936 3.29604 4.98384 3.42969 4.71999 3.60854C4.32698 3.87496 4.05755 4.31361 3.95246 4.85816C3.82094 5.53972 3.89586 6.29284 4.14542 6.79809C4.40922 7.33212 4.88603 7.65891 5.59198 7.78952C5.82405 7.83244 6.54458 7.83273 6.77598 7.79C7.42518 7.67011 7.84459 7.41598 8.1353 6.96636C8.37432 6.5967 8.48094 6.15177 8.4808 5.52473C8.48058 4.53155 8.1603 3.87718 7.49758 3.51596C7.3559 3.43875 7.09904 3.34715 6.91152 3.307C6.6103 3.24249 6.13995 3.21977 5.80798 3.25369ZM5.52798 9.71787C4.25582 9.81796 3.0328 10.1961 1.93475 10.8287C1.23611 11.2312 0.931056 11.5097 0.72 11.9374C0.400944 12.584 0.487488 13.3208 0.95552 13.9422C1.26758 14.3564 1.76696 14.6809 2.30853 14.8212C2.64939 14.9095 2.44333 14.9045 6.01598 14.9112C8.28734 14.9155 9.39202 14.9121 9.55043 14.9002C9.96131 14.8694 10.2684 14.785 10.6098 14.609C11.2037 14.3029 11.6172 13.8057 11.7879 13.1924C11.8281 13.048 11.8316 13.0127 11.8314 12.7475C11.8312 12.5043 11.8258 12.4395 11.7967 12.3301C11.6612 11.8197 11.3939 11.4552 10.9146 11.1267C9.75275 10.3307 8.27424 9.8236 6.79998 9.71547C6.54454 9.69673 5.77822 9.69817 5.52798 9.71787ZM12.4 10.4265C12.0786 10.5451 11.9125 10.9237 12.0576 11.2071C12.1494 11.3866 12.2397 11.4575 12.4982 11.5534C13.0214 11.7475 13.4562 11.9634 13.8786 12.2389C14.0745 12.3666 14.2035 12.4937 14.2651 12.6195C14.307 12.7054 14.312 12.7316 14.3117 12.8675C14.3115 13.011 14.308 13.0267 14.2496 13.1475C14.1594 13.3342 13.9803 13.5084 13.7748 13.6096C13.5292 13.7305 13.4312 13.7492 12.968 13.7631C12.748 13.7697 12.5458 13.7824 12.5186 13.7914C12.4466 13.8153 12.3522 13.8794 12.2856 13.9499C11.9745 14.2783 12.1609 14.8259 12.6085 14.8985C12.8245 14.9336 13.4016 14.9115 13.6597 14.8583C14.7339 14.637 15.5101 13.7511 15.467 12.7955C15.4525 12.4736 15.347 12.1552 15.1671 11.8902C15.075 11.7547 14.8677 11.5404 14.72 11.4281C14.2805 11.0939 13.4644 10.6712 12.8648 10.4672C12.6614 10.398 12.5126 10.3849 12.4 10.4265ZM5.85598 10.8456C4.53104 10.9121 3.22427 11.3317 2.17486 12.0277C1.84416 12.247 1.70333 12.4339 1.68486 12.6779C1.67976 12.7454 1.68397 12.8345 1.69458 12.8842C1.76074 13.1934 2.06603 13.5156 2.42354 13.6535C2.7065 13.7626 2.41144 13.7541 6.10398 13.7597C8.45379 13.7633 9.48778 13.7596 9.58183 13.7473C10.2007 13.6666 10.688 13.2231 10.688 12.7407C10.688 12.3916 10.5016 12.1867 9.83998 11.8085C8.94531 11.2971 7.96392 10.9848 6.91198 10.8766C6.67606 10.8523 6.07397 10.8347 5.85598 10.8456Z"
              fill="#CC554D"></path>
          </svg>
        </span>
        <p
          class="text-n-600 font-secondary text-sm leading-normal font-normal lg:text-base"
        >
          {topText}
        </p>
      </div>

      <div class="flex flex-col gap-2.5 lg:gap-3.5">
        <p class="text-n-700 text-xl font-medium md:text-2xl lg:text-3xl">
          {title}
        </p>

        <!-- Chip wrapper -->
        <div class="font-secondary text-n-600 flex gap-1.5 lg:gap-2">
          {
            tags.map((tag) => (
              <span class="bg-n-100 rounded-lg px-5 py-1.5 text-xs lg:text-sm">
                {tag}
              </span>
            ))
          }
        </div>
      </div>
    </div>

    <div class="flex items-center gap-3">
      <span class="text-orange-500">
        <svg
          class="size-4 lg:size-5"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
        >
          <path
            d="M8.00041 2.72852C9.21906 2.72852 10.3429 2.75511 11.4435 2.80664C13.3027 2.89369 14.809 4.32074 15.0172 6.1264C15.2668 8.29146 15.2668 10.1421 15.0172 12.3072C14.809 14.1129 13.3027 15.5399 11.4435 15.627C10.3429 15.6785 9.21904 15.7051 8.00041 15.7051C6.78165 15.7051 5.65752 15.6785 4.55677 15.627C2.69763 15.5399 1.1913 14.1129 0.983113 12.3072C0.733496 10.1421 0.733491 8.29145 0.983113 6.1264C1.1913 4.32075 2.69761 2.89369 4.55677 2.80664C5.65752 2.7551 6.78163 2.72852 8.00041 2.72852ZM8.00041 3.87137C6.79889 3.87137 5.69265 3.89771 4.61035 3.94838C3.31105 4.00922 2.26277 5.00815 2.11872 6.25753C1.87915 8.33546 1.87916 10.0981 2.11872 12.1761C2.26276 13.4254 3.31103 14.4244 4.61035 14.4852C5.69262 14.5359 6.79887 14.5622 8.00041 14.5622C9.20193 14.5622 10.3083 14.5359 11.3905 14.4852C12.6897 14.4242 13.7374 13.4258 13.8815 12.1766V12.1761C14.1211 10.0981 14.1211 8.33548 13.8815 6.25753C13.7376 5.00825 12.6898 4.00933 11.3905 3.94838C10.3082 3.89771 9.20192 3.87138 8.00041 3.87137Z"
            fill="currentColor"></path>
          <path
            d="M8.00028 2.72852C9.21908 2.72852 10.3432 2.7551 11.4439 2.80664C13.3031 2.89369 14.8088 4.32079 15.017 6.12639C15.0455 6.37336 15.0709 6.61656 15.0929 6.85686C15.1075 7.01677 15.0544 7.17575 14.9462 7.29436C14.8379 7.41292 14.6848 7.48068 14.5243 7.48075H1.47684C1.31628 7.48075 1.16323 7.41294 1.05497 7.29436C0.9467 7.17572 0.892989 7.01682 0.907648 6.85686C0.929665 6.61665 0.955055 6.37345 0.983541 6.12639C1.19174 4.32076 2.69806 2.89369 4.5572 2.80664C5.65782 2.75511 6.78165 2.72852 8.00028 2.72852ZM8.00028 3.87137C6.79877 3.87137 5.69251 3.89771 4.61021 3.94838C3.31101 4.00931 2.26318 5.00821 2.11914 6.25753C2.11605 6.28434 2.11378 6.31119 2.11077 6.33789H13.8903C13.8873 6.31119 13.8851 6.28435 13.882 6.25753C13.7379 5.00813 12.6896 4.00922 11.3903 3.94838C10.3081 3.89771 9.20182 3.87137 8.00028 3.87137Z"
            fill="currentColor"></path>
          <path
            d="M4.5127 4.78683V1.8683C4.5127 1.55271 4.76853 1.29688 5.08412 1.29688C5.39972 1.29688 5.65555 1.55271 5.65555 1.8683V4.78683C5.65547 5.10235 5.39966 5.35826 5.08412 5.35826C4.76859 5.35826 4.51278 5.10235 4.5127 4.78683Z"
            fill="currentColor"></path>
          <path
            d="M10.3447 4.78683V1.8683C10.3447 1.55271 10.6006 1.29688 10.9162 1.29688C11.2317 1.29688 11.4876 1.55271 11.4876 1.8683V4.78683C11.4875 5.10235 11.2317 5.35826 10.9162 5.35826C10.6006 5.35826 10.3448 5.10235 10.3447 4.78683Z"
            fill="currentColor"></path>
        </svg>
      </span>
      <span class="font-secondary text-n-600 text-sm font-normal md:text-base"
        >{date}</span
      >
    </div>

    <!-- Icon Button  -->
    <div
      class="absolute right-4 bottom-6 md:right-5 md:bottom-10 lg:right-6 lg:bottom-11"
    >
      <IconButton href={href} />
    </div>
  </div>
</div>
