---
import Button from "./Button.astro";
import IconButton from "./IconButton.astro";
interface Props {
  img: string;
  title: string;
  subTitle: string;
  year: string;
}
const { img, title = "", subTitle = "", year = "" } = Astro.props as Props;
---

<div
  class="group bg-n-50 border-n-300 flex h-full w-full flex-col gap-2.5 overflow-hidden rounded-3xl border-2 p-4 md:gap-3 xl:flex-row xl:gap-6"
>
  <!-- Award image -->
  <div
    class="relative h-[224px] w-full overflow-hidden rounded-xl md:h-[282px] lg:h-auto xl:w-[320px]"
  >
    <img
      src={img}
      alt={title}
      class="h-full w-full object-cover transition-transform duration-500 ease-out group-hover:scale-105"
    />

    <!-- Overlay animation -->
    <span
      class="pointer-events-none absolute inset-0 before:absolute before:inset-0 before:-translate-x-[150%] before:bg-[linear-gradient(128deg,rgba(255,255,255,0)_-3.31%,rgba(255,255,255,0.56)_31.94%,rgba(255,255,255,0.78)_49.57%,rgba(255,255,255,0.26)_63.89%,rgba(255,255,255,0)_111.26%)] before:opacity-0 before:transition-all before:duration-[500ms] before:ease-in group-hover:before:translate-x-[150%] group-hover:before:opacity-100"
    ></span>
  </div>

  <div class="flex flex-1 flex-col gap-3 md:gap-6 lg:gap-10 xl:gap-14">
    <!-- Award title -->
    <div class="flex items-center justify-between">
      <!-- Year -->
      <p class="text-n-500 text-xl font-light md:text-2xl lg:text-3xl">
        {year}
      </p>
      <!-- Icon Button  -->
      <!-- <IconButton href={href} /> -->
    </div>
    <div class="flex flex-col gap-1 md:gap-2 lg:pb-5 xl:gap-3.5">
      <!-- Title -->
      <p
        class="text-2xl leading-[120%] font-semibold text-orange-500 md:text-3xl lg:text-4xl"
      >
        {title}
      </p>
      <!-- Subtitle -->
      <span
        class="font-secondary text-n-500 text-xs font-normal md:text-sm md:leading-[20px]"
        >{subTitle}</span
      >
    </div>
  </div>
</div>
