---
import Button from "./Button.astro";

interface Props {
  img: string;
  title: string;
  subTitle: string;
  gradeRange: string;
  href?: string;
}

const {
  img,
  title = "",
  subTitle = "",
  gradeRange = "",
  href = "#",
} = Astro.props as Props;
---

<div class="bg-n-50 h-full w-full overflow-hidden rounded-2xl">
  <!-- Campus image -->
  <img
    src={img}
    alt=""
    class="h-[230px] w-full object-cover md:h-[260px] lg:h-[326px]"
  />
  <div
    class="flex flex-col gap-2.5 px-5 py-4 md:gap-5 md:px-9 md:py-6 lg:gap-6 lg:px-10 lg:py-7"
  >
    <!-- Campus title -->
    <p
      class="text-2xl leading-none font-semibold text-orange-500 md:text-4xl lg:text-5xl"
    >
      {title}
    </p>
    <div
      class="flex flex-col gap-4 md:gap-5 2xl:flex-row 2xl:items-end 2xl:justify-between"
    >
      <div class="font-secondary flex flex-1 flex-col space-y-0.5">
        <!-- Campus description -->
        <p
          class="text-n-600 text-sm font-semibold md:text-xl lg:text-2xl xl:w-[90%]"
        >
          {subTitle}
        </p>
        <!-- Additional info -->
        <div class="text-n-500 flex items-center gap-1.5">
          <span>
            <svg
              class="size-[15px] md:size-4 lg:size-5"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.57974 1.18363C3.94028 1.32847 2.87092 2.36421 2.68088 3.99135C2.6538 4.22315 2.6538 4.83955 2.68088 5.07135C2.7663 5.80285 3.02614 6.41679 3.45176 6.89275L3.57818 7.03413L3.48396 7.07977C3.14312 7.24489 2.72186 7.55595 2.38728 7.88961C1.9108 8.36477 1.66438 8.75323 1.36488 9.50135C1.05488 10.2757 0.745479 11.3584 0.675199 11.9148C0.635959 12.2255 0.693659 12.6016 0.825019 12.8914C1.1078 13.5151 1.68172 13.954 2.36404 14.0682L2.50974 14.0926L2.55444 14.452C2.73276 15.8854 2.98894 17.389 3.12514 17.8014C3.26714 18.2313 3.50536 18.61 3.84852 18.9515C4.4134 19.5136 5.14784 19.825 5.91974 19.8297C6.1753 19.8313 6.19616 19.8284 6.30974 19.7754C6.46716 19.7019 6.60292 19.5664 6.67212 19.4136C6.74972 19.2422 6.75166 19.0031 6.67676 18.8404C6.61446 18.7051 6.52782 18.6037 6.40492 18.5223C6.28552 18.4432 6.21604 18.4255 5.93552 18.4027C5.65034 18.3794 5.49584 18.3409 5.28818 18.2411C4.87068 18.0406 4.57794 17.6937 4.4614 17.2614C4.33494 16.7922 4.07216 15.1113 3.9299 13.8614C3.84402 13.1067 3.82794 13.0485 3.65816 12.8782C3.48096 12.7004 3.34262 12.6614 2.8895 12.6614C2.62436 12.6614 2.56538 12.6554 2.46788 12.6189C2.25446 12.5391 2.09974 12.3364 2.09974 12.1366C2.09974 12.0182 2.20692 11.5324 2.3194 11.1409C2.46578 10.6315 2.69948 9.99147 2.87134 9.62933C3.19034 8.95711 3.87854 8.38761 4.70552 8.11155C5.0889 7.98355 5.4085 7.92795 5.89146 7.90521C6.19958 7.89071 6.21878 7.88731 6.34566 7.82485C6.59626 7.70149 6.7433 7.46747 6.74388 7.19109C6.74426 7.01441 6.71534 6.91765 6.62134 6.78109C6.4744 6.56763 6.24312 6.46189 5.92054 6.46073C5.3077 6.45851 4.78346 6.25291 4.48754 5.89873C4.21656 5.57437 4.0925 5.14497 4.0925 4.53135C4.0925 3.86419 4.2441 3.40247 4.56862 3.08125C4.7152 2.93615 4.80078 2.87675 4.98742 2.79051C5.56456 2.52387 6.56714 2.53787 7.11522 2.82027C7.27836 2.90431 7.334 2.94509 7.47084 3.08091C7.77226 3.38005 7.91852 3.78829 7.95564 4.43395C7.97066 4.69521 7.97676 4.72645 8.03654 4.84789C8.10838 4.99379 8.2198 5.10427 8.37194 5.18041C8.44624 5.21759 8.5106 5.23125 8.63974 5.23727C8.87658 5.24831 9.00596 5.19863 9.1715 5.03311C9.34642 4.85817 9.38306 4.75099 9.38106 4.42023C9.37342 3.15533 8.83006 2.14033 7.86974 1.59699C7.26702 1.25599 6.44346 1.10733 5.57974 1.18363ZM13.5397 1.18363C12.6892 1.25877 12.011 1.55959 11.4873 2.09403C10.9267 2.66619 10.6241 3.47625 10.6184 4.42023C10.6164 4.75099 10.6531 4.85817 10.828 5.03311C10.9935 5.19863 11.1229 5.24831 11.3597 5.23727C11.5656 5.22769 11.6841 5.17653 11.826 5.03607C11.9818 4.88179 12.0246 4.76293 12.0438 4.43135C12.0528 4.27735 12.0741 4.07485 12.0913 3.98135C12.2618 3.05249 12.8779 2.60135 13.9759 2.60135C14.6928 2.60135 15.185 2.78323 15.5168 3.17083C15.6306 3.30377 15.7867 3.62971 15.8379 3.84135C15.9248 4.20085 15.9369 4.67969 15.8688 5.07225C15.7754 5.61147 15.507 6.01637 15.1024 6.22837C14.8244 6.37407 14.5661 6.43479 14.116 6.46035C13.8445 6.47577 13.7846 6.48535 13.6905 6.52843C13.1302 6.78493 13.1207 7.56361 13.6746 7.83459C13.7703 7.88143 13.8183 7.88963 14.0804 7.90395C14.8491 7.94589 15.3914 8.16727 15.8867 8.64135C16.3782 9.11183 16.8039 9.78277 17.0122 10.4156C17.1673 10.8867 17.3913 11.8519 17.6078 12.9814C17.7447 13.6958 17.8997 14.6283 17.8997 14.7372C17.8997 14.9484 17.7758 15.1478 17.5909 15.2339C17.4942 15.2789 17.47 15.281 17.0397 15.2813C16.4144 15.2817 16.292 15.3075 16.0958 15.4802C15.9731 15.5882 15.9243 15.6984 15.7299 16.3066C15.3943 17.3568 15.2041 17.7564 14.8932 18.0642C14.6852 18.2702 14.3627 18.4014 14.0643 18.4014C13.808 18.4014 13.5994 18.4821 13.4572 18.6365C13.0859 19.0393 13.2745 19.6778 13.8052 19.8145C14.0319 19.8729 14.5624 19.8153 14.9278 19.6926C15.6246 19.4587 16.1953 18.9093 16.5897 18.0927C16.7441 17.7728 16.8281 17.5595 16.9855 17.0864L17.107 16.7214L17.3084 16.7213C17.9033 16.7211 18.3897 16.5182 18.7817 16.1068C19.0571 15.8178 19.2027 15.5423 19.3025 15.1214C19.3534 14.907 19.3348 14.4993 19.2524 14.0214C18.8139 11.4771 18.4656 10.0322 18.1246 9.34301C17.6787 8.44211 17.0569 7.66667 16.4245 7.22309L16.3074 7.14097L16.4738 6.96885C16.9453 6.48123 17.2282 5.84583 17.3186 5.07135C17.3455 4.84115 17.3459 4.22079 17.3192 4.00083C17.2225 3.20167 16.942 2.57105 16.4702 2.09237C16.0239 1.63945 15.4994 1.36773 14.8297 1.24251C14.4207 1.16601 13.9713 1.14551 13.5397 1.18363ZM9.64974 6.23319C8.93618 6.33473 8.52822 6.51535 8.1233 6.90899C7.60338 7.41441 7.36344 8.15093 7.42212 9.06135C7.4571 9.60409 7.60492 10.0507 7.87508 10.4299L7.97376 10.5684L7.81508 10.686C7.20446 11.1388 6.74922 11.8086 6.57172 12.5154C6.4912 12.836 6.47392 13.0117 6.48496 13.3974C6.49368 13.7016 6.50678 13.8132 6.57826 14.1914C6.7874 15.2981 7.00796 16.1743 7.45112 17.6591C7.6447 18.3076 7.75838 18.5724 7.95498 18.8324C8.28632 19.2706 8.80776 19.6195 9.32908 19.7517C9.79544 19.87 10.204 19.87 10.6704 19.7517C11.3219 19.5864 11.9534 19.091 12.2406 18.5197C12.3541 18.2938 12.3815 18.2156 12.5792 17.5514C13.0077 16.112 13.2132 15.292 13.4212 14.1914C13.6053 13.2172 13.5383 12.5758 13.1773 11.8562C12.958 11.419 12.5934 10.9892 12.1844 10.686L12.0257 10.5684L12.1244 10.4299C12.3946 10.0507 12.542 9.60505 12.5773 9.06135C12.6362 8.15131 12.3963 7.41457 11.8762 6.90899C11.5323 6.57471 11.1616 6.38477 10.6486 6.28003C10.4566 6.24083 9.80936 6.21049 9.64974 6.23319ZM9.60236 7.69217C9.30992 7.75563 9.08506 7.91345 8.98008 8.12889C8.8774 8.33961 8.85132 8.47779 8.85124 8.81135C8.85114 9.14201 8.88954 9.33371 8.99448 9.52651C9.10098 9.72219 9.32834 9.87139 9.6115 9.93137C9.7912 9.96943 10.2083 9.96943 10.388 9.93137C10.6711 9.87139 10.8985 9.72219 11.005 9.52651C11.1099 9.33379 11.1483 9.14201 11.1483 8.81135C11.1483 8.48069 11.1099 8.28891 11.005 8.09619C10.8985 7.90051 10.6711 7.75131 10.388 7.69133C10.2135 7.65437 9.77438 7.65485 9.60236 7.69217ZM9.65974 11.431C9.02224 11.5257 8.46676 11.8863 8.15132 12.4101C7.91394 12.8043 7.85764 13.2344 7.96708 13.8171C8.1768 14.9339 8.3904 15.7864 8.83246 17.2714C8.98946 17.7988 9.04562 17.921 9.20472 18.0816C9.40494 18.2837 9.69756 18.4014 9.99974 18.4014C10.1921 18.4014 10.3234 18.3703 10.5123 18.2802C10.713 18.1844 10.8869 18.0176 10.9753 17.836C11.1252 17.5283 11.714 15.3963 11.8996 14.4894C12.0631 13.6906 12.0861 13.5434 12.0864 13.2914C12.0872 12.6705 11.7817 12.1384 11.1997 11.7472C10.7946 11.4749 10.1941 11.3516 9.65974 11.431Z"
                fill="#62748E"></path>
            </svg>
          </span>
          <span class="text-sm font-medium md:text-base lg:text-lg"
            >{gradeRange}</span
          >
        </div>
      </div>

      <!-- Know more button -->
      <Button
        text="Know More"
        size="small"
        variant="soft"
        rightArrow
        onClick={href}
      />
    </div>
  </div>
</div>
