---
interface Props {
  label: string;
  name: string;
  required?: boolean;
  type?: string;
  value?: string;
  placeholder?: string;
}

const {
  label,
  name,
  required = false,
  type = "text",
  value = "",
  placeholder = "Enter Input",
} = Astro.props;
---

<div class="flex w-full flex-col gap-2 md:gap-4">
  <!-- Label -->
  <label
    for={name}
    class="text-n-600 text-base font-medium md:text-lg lg:text-2xl"
  >
    {label}{required && <span class="text-red-500">*</span>}
  </label>

  <!-- Input -->
  <input
    type={type}
    placeholder={placeholder}
    id={name}
    name={name}
    value={value}
    required={required}
    class="text-n-700 focus:border-n-950 placeholder:text-n-700 font-secondary border-n-600 lg::text-3xl w-full border-b bg-transparent px-0 pb-1 text-lg font-semibold focus:ring-0 focus:outline-none md:text-xl lg:text-3xl"
  />
</div>
