---
import IconButton from "./IconButton.astro";

const {
  image = "/images/result-image.png",
  personName = "Deven Bhagtani",
  designation = "8th B",
  href = "#",
} = Astro.props;
---

<div
  class="group border-n-200 relative flex h-full w-full flex-col items-center overflow-hidden rounded-2xl border-2 lg:max-w-[413px]"
>
  <!-- Image -->
  <div
    class="relative w-full bg-[url('/images/school-background.png')] bg-cover bg-center pt-5"
  >
    {
      image && (
        <img
          src={image}
          alt={personName}
          class="h-[221px] w-full object-contain md:h-[272px]"
        />
      )
    }
  </div>

  <!-- Content -->
  <div
    class="relative flex h-full w-full px-4 pt-3.5 pb-5 md:px-5 md:pt-4 md:pb-10 lg:pb-6"
  >
    <!-- Student Details -->
    <div class="flex flex-col">
      <p class="text-n-600 text-xl leading-[31px] font-medium md:text-2xl">
        {personName}
      </p>
      <p
        class="font-secondary text-n-500 w-[90%] text-sm leading-normal md:text-base"
      >
        {designation}
      </p>
    </div>

    <div class="absolute right-4 bottom-6 md:right-5 md:bottom-4">
      <IconButton href={href} extraClasses="" />
    </div>
  </div>
</div>
