---
export const prerender = false; // Render on Server

// TYPES //
import type { PressReleaseItemData } from "@/types/media/press-release";

// COMPONENTS //
import FilterBar from "@/components/ui/FilterBar.astro";
import SectionHeaderMain from "@/components/ui/SectionHeaderMain.astro";
import Breadcrumbs from "@/components/ui/Breadcrumbs.astro";
import ImageCard from "@/components/ui/ImageCard.astro";
import Lightbox from "@/components/ui/Lightbox.astro";
import EmptyState from "@/components/ui/EmptyState.astro";
import Pagination from "@/components/ui/Pagination.astro";

// API SERVICES //
import {
  fetchPressReleasesRequest,
  type PressReleaseItem,
} from "@/services/api/press-release.api.service";

// CONSTANTS //
import { URLS } from "@/infrastructure/constants/urls";

// UTILS //
import { generateImagePath } from "@/utils/image.utils";

// OTHERS //
import Layout from "@/layouts/Layout.astro";

// DATA //
import pressReleaseMeta from "@/data/meta/media/press-release/press-release.json";

// DATA //
import {
  pressRelease,
  pressReleaseBreadcrumbItems,
  pressReleaseSectionHeader,
} from "@/data/media/press-release";

// Get the Year from the Search Params
const year: number =
  Number(Astro.url.searchParams.get("year")) || pressRelease.years[0];
const page = Number(Astro.url.searchParams.get("page")) || 1;

// If year is missing or invalid — go back or redirect
if (!year) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: Astro.request.headers.get("referer") || URLS.HOME,
    },
  });
}

// Fetch from API
const { totalCount, pressReleases } = await fetchPressReleasesRequest(
  year,
  page,
);

// Pagination calculation
const ITEMS_PER_PAGE = 10;
const totalPages = totalCount > 0 ? Math.ceil(totalCount / ITEMS_PER_PAGE) : 0;

const shouldShowPagination = totalPages > 1;
---

<Layout meta={pressReleaseMeta}>
  <section class="bg-n-50 relative w-full overflow-hidden">
    <div
      class="container m-auto flex flex-col gap-10 px-5 pt-32 pb-14 md:gap-14 lg:gap-16 lg:pt-40"
    >
      <!-- Breadcrumbs -->
      <Breadcrumbs items={pressReleaseBreadcrumbItems} />

      <!-- Body of the Press Release -->
      <div class="flex flex-col gap-8 md:gap-12 lg:gap-14">
        <!-- Section Header -->
        <SectionHeaderMain
          title={pressReleaseSectionHeader.title}
          subtitle={pressReleaseSectionHeader.subtitle}
        />

        <!-- Press Release -->
        <div class="fade-in flex flex-col gap-7 md:gap-8 lg:gap-11">
          <!-- Years Filters -->
          <div class="fade-in">
            <FilterBar showSearch={false} years={pressRelease.years} />
          </div>

          <!-- Press Release -->
          {
            pressReleases && pressReleases.length > 0 ? (
              <div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4">
                {pressReleases.map(
                  (releaseItem: PressReleaseItem, releaseItemIndex) => (
                    <div
                      class="card-anim"
                      style={`--delay: ${releaseItemIndex * 0.2}s`}
                    >
                      <ImageCard
                        image={generateImagePath(
                          releaseItem.image || "",
                          "press_release",
                        )}
                        caption={releaseItem.title}
                        index={releaseItemIndex}
                        classes="max-h-[350px] md:h-[350px]"
                      />
                    </div>
                  ),
                )}
              </div>
            ) : (
              <EmptyState />
            )
          }
        </div>
        <!-- Pagination -->
        {shouldShowPagination && <Pagination totalPages={totalPages} />}
        <Lightbox />
      </div>
    </div>
  </section>
</Layout>
