---
import Image from "astro/components/Image.astro";
import IconButton from "./IconButton.astro";

const {
  image = "/images/result-image.png",
  personName = "Deven Bhagtani",
  designation = "8th B",
  href = "#",
} = Astro.props;
---

<a href={href} class="group result-card w-full" data-person-name={personName}>
  <div
    class="group border-n-200 bg-n-50 relative flex h-full w-full flex-col items-center overflow-hidden rounded-2xl border-2 lg:max-w-[413px]"
  >
    <!-- Image -->
    <div class="relative w-full">
      {
        image && (
          <Image
            src={image}
            alt={personName}
            class="h-[221px] w-full object-cover md:h-[272px]"
            loading="lazy"
            decoding="async"
            width="413"
            height="272"
          />
        )
      }
    </div>

    <!-- Content -->
    <div
      class="relative flex h-full w-full px-4 pt-3.5 pb-5 md:px-5 md:pt-4 md:pb-10"
    >
      <!-- Person Details -->
      <div class="flex flex-col gap-1">
        <p class="text-n-600 text-xl leading-[31px] font-medium md:text-2xl">
          {personName}
        </p>
        <p
          class="font-secondary text-n-500 w-[90%] text-sm leading-normal md:text-base"
        >
          {designation}
        </p>
      </div>

      <div
        class="absolute right-5 bottom-6 hidden lg:block"
        data-read-more-button
      >
        <IconButton href={href} extraClasses="" />
      </div>
    </div>
  </div>
</a>
